footer {
  text-align: center;
  padding: 10rem 0 5rem;

  a {
    color: #adb5bd;
    font-size: 1rem;
    line-height: 11.2px;

    &::after {
      display: inline-block;
      content: "·";
      margin: 0 0.5rem;
    }

    &:last-child::after {
      display: none;
    }

    &:hover {
      color: black;
    }
  }
}
