/* === Header === */
header {
  // margin: 2.5rem auto 10rem;
  width: 100%;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: calc(80px + (160 - 80) * ((100vw - 320px) / (1600 - 320)));

  .container {
    nav {
      display: grid;
      grid-template-columns: 85% 15%;
      // display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .logo {
        a {
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--color-dark);
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2.5px;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        li {
          .menu {
            cursor: pointer;
            font-size: 0.8rem;
            color: var(--color-dark);
            text-decoration: none;
            transition: 0.1s ease-in-out;
            margin: 0;

            &:hover {
              color: #0d10bf;
            }
          }
        }
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        grid-template-columns: 60% 40%;
      }

      @media only screen and (min-device-width: 481px) and (max-device-width: 760px) {
        grid-template-columns: 70% 30%;
      }

      @media only screen and (min-device-width: 761px) and (max-device-width: 932px) {
        grid-template-columns: 70% 30%;
      }
    }
  }
}
