/* === Header === */
header {
  // margin: 2.5rem auto 10rem;
  width: 100%;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: calc(80px + (160 - 80) * ((100vw - 320px) / (1600 - 320)));

  .container {
    nav.row {
      .logo {
        a {
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--color-dark);
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2.5px;
        }
      }

      ul {
        gap: 2rem;

        li {
          .menu {
            cursor: pointer;
            font-size: 0.8rem;
            color: var(--color-dark);
            text-decoration: none;
            transition: 0.1s ease-in-out;
            margin: 0;

            &:hover {
              color: #0d10bf;
            }
          }
        }
      }
    }
  }
}
